{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Solicitud de Compra</title>
  <link rel="stylesheet" href="{% static 'core/solicompra.css' %}">
</head>

<body>
  <div class="form-container">
    <h1>Solicitud de compra</h1>
    <h2>{{ producto.marca }} {{ producto.modelo }}</h2>

    <form method="post" class="form">
      {% csrf_token %}
      <p>
        {{ form.nombre.label_tag }}
        {{ form.nombre }}
      </p>
      <p>
        {{ form.cedula.label_tag }}
        {{ form.cedula }}
      </p>
      <p>
        {{ form.telefono.label_tag }}
        {{ form.telefono }}
      </p>
      <p>
        {{ form.direccion.label_tag }}
        {{ form.direccion }}
      </p>
      <button type="submit" class="btn">Confirmar compra</button>
    </form>

    <p class="back-text">¿Quieres regresar?</p>
    <a href="{% url 'detalle_producto' producto.id %}" class="back-link">⬅ Volver al producto</a>
  </div>
</body>

</html>