{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Inicio de Sesión</title>
  <link rel="stylesheet" href="{% static 'core/login.css' %}">
</head>
<body>
  <header>
      <h1>Iniciar sesión</h1>
  </header>
  <main>
    <section>
      <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div>
          <label for="email">Correo electrónico</label>
          <input id="email" name="email" type="email" autocomplete="email" required />
        </div>
        
        <div>
          <label for="password">Contraseña</label>
          <input id="password" name="password" type="password" autocomplete="current-password" required />
        </div>

        <div>
          <button type="submit">Entrar</button>
        </div>
      </form>
      <div>
        <label for="solicitar registro">¿Aún no tienes una cuenta?</label>
        <a href="{% url 'solicitar_registro' %}">Solicita una YA!</a>
      </div>
    </section>
  </main>
  {% if error %}
  <p style="color:red;">{{ error }}</p>
{% endif %}

</body>
</html>
