{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Solicitud de Registro</title>
  <link rel="stylesheet" href="{% static 'core/solicitar.css' %}">
</head>

<body>
  <div class="form-container">
    <h1>Solicitud de Registro</h1>

    <form method="post">
      {% csrf_token %}
      <div class="form-grid">
        {% for field in form %}
        <div class="form-group">
          {{ form.tipo_identificacion }}
          {{ field.label_tag }}
          {{ field }}
          {% if field.errors %}
          <div class="error">{{ field.errors }}</div>
          {% endif %}
        </div>
        {% endfor %}
      </div>

      <div class="form-actions">
        <button type="submit">Enviar solicitud</button>
      </div>
    </form>

    <div class="extra-links">
      <p>¿Ya tienes una cuenta?</p>
      <a href="{% url 'login' %}">⬅ Volver al login</a>
    </div>
  </div>
</body>

</html>